out
.idea/workspace.xml
.idea/dictionaries/**
nuget-extensions/bin*
nuget-extensions/**/bin
nuget-extensions/**/obj
nuget-extensions/**.suo
nuget-extensions/**/*.user
nuget-extensions/*.user
nuget-extensions/*.cache
nuget-extensions/_ReSharper*
nuget-extensions/packages/**/*
