

.authEndpoints {
    float: right;
}

.authEndpoints a.selected {
    color: var(--ring-text-color, #1f2326);
    text-decoration: none;
    font-weight: bold;
    cursor:default;
}

table.packageSources .details ul {
    padding-left: 20px;
    margin: 0;
}
