<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/testng/testng-6.1.1.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/testng/testng-6.1.1-javadoc.zip!/" />
    </JAVADOC>
    <SOURCES />
  </library>
</component>