<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$TeamCityDistribution$/devPackage/tests/junit-3.8.2.jar!/" />
      <root url="jar://$TeamCityDistribution$/devPackage/tests/testng-6.8.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>