<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="MyGet" value="https://dotnet.myget.org/F/nuget-build" />
    <add key="MyGet v3" value="https://dotnet.myget.org/F/nuget-build/api/v3/index.json" />
    <add key="NuGet" value="http://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>
